<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>ele实时编辑器</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Cache" content="no-cache">

	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
	<script src="jquery.min.js"></script>

	<link rel="stylesheet" href="./element/element.css">
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="./element/element.js"></script>
	<script type="text/javascript" src="request.js"></script>
	<!-- import CSS -->
	<link rel="stylesheet" href="index.css">
	<!-- import JavaScript -->
	<!-- <script src="https://unpkg.com/mint-ui/lib/index.js"></script> -->
	<!-- <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script> -->

	<style>
		.setting {
			position: fixed;
			right: 10%;
			top: 0px;
		}
		.hot-use{
			margin-right: 5%;
		}
	</style>

</head>

<body>

	<div id="es6">
		<el-row>
			<el-button v-for="(item,index) in section_list" round @click="toggel_section(item)">{{item.name}}
			</el-button>

		</el-row>
		<div class="code">
			<textarea id="code_container" cols="30" rows="30" v-model="code"></textarea>
		</div>

		<div class="setting">
			<el-row>
				<el-input v-model="handler_value_name" placeholder="填写操作对象名称" clearable>
				
			</el-row>
			<el-row>
			<span class="hot-use" v-for="(item,index) in hot_use_list" @click="assign_value(item)">
					<a href="">{{item}}</a>
					
				</span>
			</el-row>
			<el-button v-for="(item,index) in setting_list" round  @mouseover.native="toggel_hot_use('item.field,value')" @click="add_code(item)">{{item.name}}</el-button>
		</div>

		<div class="code-pools" style="display: none;">

			<template v-if="cur_section=='字符串'">
				<div id="_模板字符串" >
					${#}
				</div>
			</template>

			<template v-if="cur_section=='数值'">
				<div id="isFinite">
					if(Number.isFinite(#)){

					}
				</div>
				<div id="isNaN">
					if(Number.isNaN(#)){

					}
				</div>
			</template>
		</div>
	</div>

</body>


</html>
<script src="es6.js"></script>