<!DOCTYPE html>
<html>
  <head>
    <title>jQuery WeUI</title>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

<link rel="stylesheet" href="../css/framework/weui/weui.css">
<link rel="stylesheet" href="../css/framework/weui/jquery-weui.css">
<link rel="stylesheet" href="../css/layouts/common.css">
<style type="text/css">
	
#tab1,
#tab2,
#tab3,
#tab4,
#tab5{
	padding-bottom: 10px;
	background-color: #ffebe4;
}
section{
    width: 44%;
    margin: 4% auto auto 4%;
    float: left;

    background-color: #fafafa;
    box-shadow: 3px 2px 5px #bfbfbf;

    padding: 0px;

}
section .banner{
	
}
section .banner img{
	width: 100%;
	height: 100px;
}
section .progress-info{
    float: left;
    padding: 5px 10px 5px;
    font-size: 14px;
    color: #737272;
}
section .progress-info label{
    float: left;
    width: 50%;	
}
section .progress-info div{
    text-align: right;
    float: right;
    width: 50%;	
}
</style>
  </head>
<script src="../js/libs/vue/vue.js"></script>




  <body ontouchstart >
  	
  	<div id="classificationVue">
  		
  	
    <div class="weui-tab">
      <div class="weui-navbar">
        <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
          全部
        </a>
        <a class="weui-navbar__item" href="#tab2">
          免费
        </a>
        <a class="weui-navbar__item" href="#tab3">
          推荐
        </a>
        <a class="weui-navbar__item" href="#tab4">
          热销
        </a>
        <a class="weui-navbar__item" href="#tab5">
          订制
        </a>
      </div>
      <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
        
        	 	<section  class=""  v-for="item in activityList">
        	 		<div class="banner">
        	 			<img :src="item.themeImgUrl" alt="" />
        	 		</div>
        	 		<div class="progress-info">
        	 			
        	 				<label>开始时间</label>
        	 				<div>{{ item.value1 }}</div>
        	 				
        	 				<label>结束时间</label>
        	 				<div>{{ item.value2 }}</div>
        	 				
        	 				<label>原价</label>
        	 				<div>{{ item.value3}}</div>
        	 				
        	 				<label>报价</label>
        	 				<div>{{ item.value4 }}</div>
        
        	 		</div>
        	 	</section>
            
        	</div>
     
        <div id="tab2" class="weui-tab__bd-item">
 
        	 	<section v-for="item in activityList" v-show="item.type == 1" class="">
        	 		<div class="banner">
        	 			<img :src="item.themeImgUrl" alt="" />
        	 		</div>
        	 		<div class="progress-info">
        	 			
        	 				<label>开始时间</label>
        	 				<div>{{ item.value1 }}</div>
        	 				
        	 				<label>结束时间</label>
        	 				<div>{{ item.value2 }}</div>
        	 				
        	 				<label>原价</label>
        	 				<div>{{ item.value3}}</div>
        	 				
        	 				<label>报价</label>
        	 				<div>{{ item.value4 }}</div>
        
        	 		</div>
        	 	</section>
         
        </div>
        <div id="tab3" class="weui-tab__bd-item">
        	
        	 	<section  v-for="item in activityList" v-show="item.type == 2" class="">
        	 		<div class="banner">
        	 			<img :src="item.themeImgUrl" alt="" />
        	 		</div>
        	 		<div class="progress-info">
        	 			
        	 				<label>开始时间</label>
        	 				<div>{{ item.value1 }}</div>
        	 				
        	 				<label>结束时间</label>
        	 				<div>{{ item.value2 }}</div>
        	 				
        	 				<label>原价</label>
        	 				<div>{{ item.value3}}</div>
        	 				
        	 				<label>报价</label>
        	 				<div>{{ item.value4 }}</div>
        
        	 		</div>
        	 	</section>
            
    
        </div>
        <div id="tab4" class="weui-tab__bd-item">
        
        	 	<section v-for="item in activityList"  v-show="item.type == 3" class="">
        	 		<div class="banner">
        	 			<img :src="item.themeImgUrl" alt="" />
        	 		</div>
        	 		<div class="progress-info">
        	 			
        	 				<label>开始时间</label>
        	 				<div>{{ item.value1 }}</div>
        	 				
        	 				<label>结束时间</label>
        	 				<div>{{ item.value2 }}</div>
        	 				
        	 				<label>原价</label>
        	 				<div>{{ item.value3}}</div>
        	 				
        	 				<label>报价</label>
        	 				<div>{{ item.value4 }}</div>
        
        	 		</div>
        	 	</section>
            
               
        </div>
        <div id="tab5" class="weui-tab__bd-item">
        	
        	 	<section v-for="item in activityList"  v-show="item.type == 4" class="">
        	 		<div class="banner">
        	 			<img :src="item.themeImgUrl" alt="" />
        	 		</div>
        	 		<div class="progress-info">
        	 			
        	 				<label>开始时间</label>
        	 				<div>{{ item.value1 }}</div>
        	 				
        	 				<label>结束时间</label>
        	 				<div>{{ item.value2 }}</div>
        	 				
        	 				<label>原价</label>
        	 				<div>{{ item.value3}}</div>
        	 				
        	 				<label>报价</label>
        	 				<div>{{ item.value4 }}</div>
        
        	 		</div>
        	 	</section>
            
               
        </div>
        
      </div>
    </div>
</div>


<div id="viewAll">
	<h5  class="hand-trigger open-popup" data-target="#selectSort">全部分类</h5>
</div>


	<div id="selectSort" class="weui-popup__container popup-bottom">
		  <div class="weui-popup__overlay"></div>
		  <div class="weui-popup__modal">
		  	

			   
		  <div class="weui-grids">
            <a @click="showActivity(1)" href="javascript:;" class="weui-grid js_grid" data-id="dialog">
              <div class="weui-grid__icon">
                <img src="images/icon_nav_dialog.png" alt="">
              </div>
              <p class="weui-grid__label">
               砍价
              </p>
            </a>
            <a  @click="showActivity(2)" href="javascript:;" class="weui-grid js_grid" data-id="progress">
              <div class="weui-grid__icon">
                <img src="images/icon_nav_progress.png" alt="">
              </div>
              <p class="weui-grid__label">
                集赞
              </p>
            </a>
            <a  @click="showActivity(3)" href="javascript:;" class="weui-grid js_grid" data-id="msg">
              <div class="weui-grid__icon">
                <img src="images/icon_nav_msg.png" alt="">
              </div>
              <p class="weui-grid__label">
                投票
              </p>
            </a>
            <a @click="showActivity(4)" href="javascript:;" class="weui-grid js_grid" data-id="dialog">
              <div class="weui-grid__icon">
                <img src="images/icon_nav_dialog.png" alt="">
              </div>
              <p class="weui-grid__label">
                抽奖
              </p>
            </a>
            <a @click="showActivity(5)" href="javascript:;" class="weui-grid js_grid" data-id="progress">
              <div class="weui-grid__icon">
                <img src="images/icon_nav_progress.png" alt="">
              </div>
              <p class="weui-grid__label">
                支付
              </p>
            </a>
            <a @click="showActivity(6)" href="javascript:;" class="weui-grid js_grid" data-id="msg">
              <div class="weui-grid__icon">
                <img src="images/icon_nav_msg.png" alt="">
              </div>
              <p class="weui-grid__label">
                互动
              </p>
            </a>
            
            <a @click="showActivity(7)" href="javascript:;" class="weui-grid js_grid" data-id="msg">
              <div class="weui-grid__icon">
                <img src="images/icon_nav_msg.png" alt="">
              </div>
              <p class="weui-grid__label">
                全部
              </p>
            </a>
            
          </div>
		   
		   
		  </div>
		</div>

<script src="../js/libs/jquery/jquery-2.1.4.js"></script>
<script src="../js/libs/weui/fastclick.js"></script>

<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script>
<script src="../js/libs/weui/jquery-weui.js"></script>

<script>
var testData = [{
    	type:1,
    	value1:'2017-03-03',
    	value2:'2017-06-12',
    	value3:345,
    	value4:234,
    	themeImgUrl:'../images/demo/11.png'
    },{
    	type:1,
    	value1:'2017-03-03',
    	value2:'2017-06-12',
    	value3:345,
    	value4:234,
    	themeImgUrl:'../images/demo/22.jpg'
    },{
    	type:2,
    	value1:'2017-03-03',
    	value2:'2017-06-12',
    	value3:345,
    	value4:234,
    	themeImgUrl:'../images/demo/33.jpg'
    },{
    	type:3,
    	value1:'2017-03-03',
    	value2:'2017-06-12',
    	value3:345,
    	value4:234,
    	themeImgUrl:'../images/demo/44.jpg'
    }]	
	
	
	
var  classificationVue = new Vue({
  el: '#classificationVue',
  data: {
    activityList:testData 
  },
 methods: {
    submit: function (event) {
    	debugger
    	
    },
    showActivity: function (type) {
    	debugger
    	this.handleType = handleType;
    	
    	
    	this.$nextTick(function(){
    		$.closePopup();
    		
    		    		

				
			})
    	
    }
  }
})	  	


var activity = {
		init:function(){
			 
			 
		},
		editSourceItem:function () {
			$("#sourceHandle").popup();
		},
		sourceTypeMap:{
			
		},
		sureSubmit:function () {
			
			request.postData({
        url: urlConfig.registerUrl,
        param: ''
        }).then(function(data) {
        	
        	

        }, function(err) {
            console.log(err);
        });
			debugger
		}
		
	}
	activity.init();
	

    </script>
  </body>
</html>
