<!DOCTYPE html>
<html>
  <head>
    <title>jQuery WeUI</title>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

<link rel="stylesheet" href="../css/framework/weui/weui.css">
<link rel="stylesheet" href="../css/framework/weui/jquery-weui.css">
<link rel="stylesheet" href="../css/layouts/common.css">

<link rel="stylesheet" href="../js/plugins/jquery.zyUpload/control/css/zyUpload.css" type="text/css">

<style type="text/css">
	video,
	img{
		width: 100%;
	}
	.container{
		background-color: antiquewhite;
	}
.head-banner{
	    background-color: #fff;
    padding: 10px;
}	
.module{
	
}
.module .title{
	  text-align: center;
    height: 30px;
    margin: 10px auto;
    background-color: #26d624;
    width: 30%;
    color: #fff;
    line-height: 30px;
}
.module .content{
    width: 90%;
    margin: auto;
    background: #fff;
    padding: 5px;
}
.upload-panel{
    width: 90%;
    height: 70px;
    border: 2px dashed #ddd;
    margin: 4% auto;
    text-align: center;
    line-height: 70px;
    display: flex;
    justify-content: space-around;
    color: #8e8e8e;
}
.upload-panel .clear,
.upload-panel .video,
.upload-panel .image,
.upload-panel .text{
		display: inline-block;
    /* margin-right: 1%; */
    border: 1px solid #ddd;
    height: 40px;
    margin: auto;
    line-height: 40px;
    padding: 0px 6px;
    border-radius: 5px;
    font-size: 14px;
}
.upload-panel .clear,
.upload-panel .edit{
    display: none;
}

.module .upload-panel .image{
	
}

.module .content .source{
    padding: 4%;
    border: 1px dashed #ccc;
    margin: 3%;	
}
.source .hand-trigger{
		position: absolute;
    background-color: #000;
    color: #fff;
    opacity: 0.6;
    margin-left: 62%;
    margin-top: -3%;
    /* float: right; */
    /* text-align: right; */
    padding: 2% 5%;
    /* border-radius: 0px 0px 0px 90px; */	
}
.source .img{
	
}
.source .txt{
	
}
.source .video{
	
}
</style>

  </head>
  <script src="../js/libs/vue/vue.js"></script>
<script src="../js/libs/jquery/jquery-2.1.4.js"></script>
<!-- 引用核心层插件 -->
<script src="../js/plugins/jquery.zyUpload/core/zyFile.js"></script>
<!-- 引用控制层插件 -->
<script src="../js/plugins/jquery.zyUpload/control/js/zyUpload.js"></script>
<!-- 引用初始化JS -->
<script src="../js/plugins/jquery.zyUpload/core/upload.js"></script>
<!--<script src="../js/libs/vue/vue.js"></script>-->

  <script src="../js/common.js"></script>
    <script src="../js/config.js"></script>
    
    
  <script type="text/javascript" src="../js/plugins/froala-editor/codemirror.min.js"></script>
   <script type="text/javascript" src="../js/plugins/froala-editor/froala_editor.pkgd.min.js"></script>
    <script type="text/javascript" src="../js/plugins/froala-editor/xml.min.js"></script>
    
  <body ontouchstart>


    <header class='demos-header'>
      <h1 class="demos-title"></h1>
    </header>


<div  id="activityVue" class="container">
	<div class="head-banner">
		<div v-if="source.headImgUrl" class="">
			<img :src="source.headImgUrl" alt="" />
		</div>
		<div v-else class="upload-panel">
			<a class="image add open-popup" data-target="#uploadImg" @click="markHandle('add','img')">添加图片</a>
			<div class="image edit hide open-popup"  data-target="#uploadImg" @click="markHandle('instead','img')">替换图片</div>
		</div>
	</div>
	<!--奖品描述 1-1-->
	<div id="prize" class="module">
		<div class="title">
			奖品描述
		</div>
		<div  class="content">
			
			
			<div :id="item.id" class="source" v-for="item in source.prizeList">
				<div @click="editSourceItem(item)" class="hand-trigger open-popup" data-target="#sourceHandle">
				编辑
				</div>
				
				<div class="img" v-show="item.type==1">
					<img data-index-id="item.id" :src="item.imgUrl" alt="" />
				</div>
				<div class="txt" v-show="item.type==2">
					<p data-index-id="item.id">{{item.txt}}</p>
				</div>
				<div class="video" v-show="item.type==3">
					<video data-index-id="item.id" :src="item.videoUrl"></video>
				</div>
			
				
			</div>
			
			
			<div class="upload-panel">
				<div class="image add open-popup" data-target="#uploadImg" @click="markHandle('add','img','#prize')">添加图片</div>
				<div class="image edit open-popup" data-target="#uploadImg" @click="markHandle('instead','img')">替换图片</div>
				
				<div class="text add"  @click="markHandle('add','txt','#prize')">添加描述</div>
				<div class="text edit"  @click="markHandle('instead','txt')">修改描述</div>
				
				<div class="clear"   @click="markHandle('clear')">清空内容</div>
			</div>
		</div>	
	</div>
	
	
  <!--设置信息   砍价1-1-->
	<div class="module">
		<div class="title">
			设置信息
		</div>
		<div class="content">
			<div class="weui-cells">
				
	      <div class="weui-cell">
	        <div class="weui-cell__bd">
	          <!--<input class="weui-input" type="text" placeholder="开始时间" v-model="source.setting.value1">-->
	          
	          <input type="text" id='startTime' v-model="source.setting.value1"/>
	        </div>
	      </div>
	      
	      <div class="weui-cell">
	        <div class="weui-cell__bd">
	         <!-- <input class="weui-input" type="text" placeholder="结束时间" v-model="source.setting.value2">-->
	         	<input type="text" id='endTime' v-model="source.setting.value1"/>
	        </div>
	      </div>
	      
	      <div class="weui-cell">
	        <div class="weui-cell__bd">
	          <input class="weui-input" type="tel" placeholder="原价" v-model="source.setting.value3" @change="refreshRelativeValues(source.setting.value3)">
	        </div>
	      </div>
	      
	      <div class="weui-cell">
	        <div class="weui-cell__bd">
	          <!--<input class="weui-input" type="tel" placeholder="底价" v-model="source.setting.value4">-->
	          
	          <div class="weui-slider-box" id="bottomPrice">
						  <div class="weui-slider">
						    <div id="sliderInner" class="weui-slider__inner">
						      <div id="sliderTrack" style="width: 75%;" class="weui-slider__track"></div>
						      <div id="sliderHandler" style="left: 75%;" class="weui-slider__handler"></div>
						    </div>
						  </div>
						  <div id="bottomPriceValue" class="weui-slider-box__value">{{source.setting.value4}}</div>
						</div>
	          
	          
	        </div>
	      </div>
	      
	      <div class="weui-cell">
	        <div class="weui-cell__bd">
	          <!--<input class="weui-input" type="text" placeholder="单次砍价最大值" v-model="source.setting.value5">-->
	          	
	          	<div class="weui-slider-box" id="perCutMax">
						  <div class="weui-slider">
						    <div id="sliderInner" class="weui-slider__inner">
						      <div id="sliderTrack" style="width: 75%;" class="weui-slider__track"></div>
						      <div id="sliderHandler" style="left: 75%;" class="weui-slider__handler"></div>
						    </div>
						  </div>
						  <div id="perCutMaxValue" class="weui-slider-box__value">{{source.setting.value5}}</div>
						</div>
	          	
	          	
	        </div>
	      </div>
	      
	      <div class="weui-cell">
	        <div class="weui-cell__bd">
	          <!--<input class="weui-input" type="text" placeholder="单次砍价最小值" v-model="source.setting.value6">-->
	          	
	          		<div class="weui-slider-box" id="perCutMin">
						  <div class="weui-slider">
						    <div id="sliderInner" class="weui-slider__inner">
						      <div id="sliderTrack" style="width: 75%;" class="weui-slider__track"></div>
						      <div id="sliderHandler" style="left: 75%;" class="weui-slider__handler"></div>
						    </div>
						  </div>
						  <div id="perCutMinValue" class="weui-slider-box__value">{{source.setting.value6}}</div>
						</div>
	          	
	        </div>
	      </div>
	      
	      
	    </div>
		</div>	
	</div>
	
	<!--活动规则 1-1-->
	<div class="module">
		<div class="title">
			活动规则
		</div>
		<div class="content">
			<div class="upload-panel">
				<div class="image add">添加图片</div>
				<div class="image edit">替换图片</div>
				
				<div class="text add">添加描述</div>
				<div class="text edit">修改描述</div>
				
				<div class="video add">添加视频</div>
				<div class="video edit">修改视频</div>
				
				<div class="clear">清空内容</div>
			</div>
		</div>	
	</div>
	
	<!--领奖信息 1-1-->
	<div class="module">
		<div class="title">
			<input class="weui-input" type="tel"  value="领奖信息">
		</div>
		<div class="content">
			<div class="upload-panel">
				<div class="image add"></div>
				<div class="image edit"></div>
				
				<div class="text add"></div>
				<div class="text edit"></div>
				
				<div class="video add"></div>
				<div class="video edit"></div>
				
				<div class="clear"></div>
			</div>
		</div>	
	</div>
	
	
	<!--机构介绍 1-1-->
	<div class="module">
		<div class="title">
			<input class="weui-input" type="tel"  value="机构介绍">
		</div>
		<div class="content">
			<div class="upload-panel">
				<div class="image add"></div>
				<div class="image edit"></div>
				
				<div class="text add"></div>
				<div class="text edit"></div>
				
				<div class="video add"></div>
				<div class="video edit"></div>
				
				<div class="clear"></div>
			</div>
		</div>	
	</div>
	
	<div class="module">
		<div class="title">
			咨询热线
		</div>
		<div class="content">
		
			<div class="weui-cell__bd">
	      <input class="weui-input" type="tel" placeholder="请输入手机号">
	    </div>
	    <div class="weui-cell__bd">
	      <div id="locationAddress"></div>
	    </div>
		
		</div>	
	</div>
	
	<div class="module info-item">
		<div class="title">
			信息收集设置
		</div>
		<div class="content">
			<div id="" class="weui-cell weui-cell_switch">
        	<div class="weui-cell__bd">
	          <input class="weui-input" type="text" placeholder="手机号" v-model="source.userPhone">
	        </div>
	        <!--<div class="weui-cell__ft">
	        	<label>必填项</label>
	          <input class="weui-switch" type="checkbox">
	        </div>-->
	      </div>
			
			<div class="weui-cells">
	      
	      <div class="weui-cell weui-cell_switch">
        	<div class="weui-cell__bd">
	          <input class="weui-input" type="text" placeholder="姓名" v-model="source.userName">
	        </div>
	        <!--<div class="weui-cell__ft">
	        	<label>必填项</label>
	          <input class="weui-switch" type="checkbox">
	        </div>-->
	      </div>
	      
	      <div class="weui-cell weui-cell_switch">
        	<div class="weui-cell__bd">
	          <input class="weui-input" type="text" placeholder="信息项名称" v-model="source.otherInfo1">
	        </div>
	        <div class="weui-cell__ft">
	        	<label>必填项</label>
	          <input class="weui-switch" type="checkbox">
	        </div>
	      </div>
	      
	      <div class="weui-cell weui-cell_switch">
        	<div class="weui-cell__bd">
	          <input class="weui-input" type="text" placeholder="信息项名称" v-model="source.otherInfo2">
	        </div>
	        <div class="weui-cell__ft">
	        	<label>必填项</label>
	          <input class="weui-switch" type="checkbox">
	        </div>
	      </div>
	      
	      <div class="weui-cell weui-cell_switch">
        	<div class="weui-cell__bd">
	          <input class="weui-input" type="text" placeholder="信息项名称" v-model="source.otherInfo3">
	        </div>
	        <div class="weui-cell__ft">
	        	<label>必填项</label>
	          <input class="weui-switch" type="checkbox">
	        </div>
	      </div>
	      
	      
	       
	    </div>
			<div id="addInfoItem" class="add-info-item">
	      	
	      </div>
			
		</div>	
	</div>
	
	
	<div id="sourceHandle" class="weui-popup__container popup-bottom">
		  <div class="weui-popup__overlay"></div>
		  <div class="weui-popup__modal">
		  	

		  <div class="weui-grids">
            <a v-show="curSourceType == 1" @click="popupSourceHandle(1,'instead','img')" href="javascript:;" class="weui-grid js_grid" data-id="dialog">
              <div class="weui-grid__icon">
                <img src="images/icon_nav_dialog.png" alt="">
              </div>
              <p class="weui-grid__label">
               替换图片
              </p>
            </a>
            <a   v-show="curSourceType == 2" @click="popupSourceHandle(2,'instead','txt')" href="javascript:;" class="weui-grid js_grid" data-id="progress">
              <div class="weui-grid__icon">
                <img src="images/icon_nav_progress.png" alt="">
              </div>
              <p class="weui-grid__label">
                替换文字
              </p>
            </a>
            <a  v-show="curSourceType == 3" @click="popupSourceHandle(3,'instead','video')" href="javascript:;" class="weui-grid js_grid" data-id="msg">
              <div class="weui-grid__icon">
                <img src="images/icon_nav_msg.png" alt="">
              </div>
              <p class="weui-grid__label">
                替换视频
              </p>
            </a>
            <a @click="popupSourceHandle(4,'insert','img')" href="javascript:;" class="weui-grid js_grid" data-id="dialog">
              <div class="weui-grid__icon">
                <img src="images/icon_nav_dialog.png" alt="">
              </div>
              <p class="weui-grid__label">
                新增图片
              </p>
            </a>
            <a @click="popupSourceHandle(5,'insert','txt')" href="javascript:;" class="weui-grid js_grid" data-id="progress">
              <div class="weui-grid__icon">
                <img src="images/icon_nav_progress.png" alt="">
              </div>
              <p class="weui-grid__label">
                新增文字
              </p>
            </a>
            <a @click="popupSourceHandle(6,'insert','video')" href="javascript:;" class="weui-grid js_grid" data-id="msg">
              <div class="weui-grid__icon">
                <img src="images/icon_nav_msg.png" alt="">
              </div>
              <p class="weui-grid__label">
                新增视频
              </p>
            </a>
            
            <a @click="popupSourceHandle(7,'clear')" href="javascript:;" class="weui-grid js_grid" data-id="msg">
              <div class="weui-grid__icon">
                <img src="images/icon_nav_msg.png" alt="">
              </div>
              <p class="weui-grid__label">
                删除内容
              </p>
            </a>
            
          </div>
		   
		   
		  </div>
		</div>
		
	
</div>


		



<div id="uploadImg" class="weui-popup__container">
  <div class="weui-popup__overlay"></div>
  <div class="weui-popup__modal">
    
    <div id="uploadImgTool" class="demo"></div>
    
    
    <a href="javascript:;" class="weui-btn weui-btn_primary close-popup" onclick="activity.sureSubmitImg()">确认提交</a>
  </div>
</div>

<div id="addTxt" class="weui-popup__container">
  <div class="weui-popup__overlay"></div>
  <div class="weui-popup__modal">
    
    <div id="txtEditTool" class="">
    	
    </div>
    
    
    <a href="javascript:;" class="weui-btn weui-btn_primary close-popup" onclick="activity.sureSubmitTxt()">确认提交</a>
  </div>
</div>

<input type="hidden" id="curSourceId" value="" />
<input type="hidden" id="handleType" value="" />
<!--单次资源操作状态-->
<input type="hidden" id="handleType" value="" />
<!--资源类别-->
<input type="hidden" id="sourceType" value="" />
<!--当前section id-->
<input type="hidden" id="sectionType" value="" />

<div id="new_img" class="img" >
		<img data-index-id="" src="" alt="" />
	</div>
	<div id="new_txt" class="txt">
		<p data-index-id=""></p>
	</div>
	<div id="new_video" class="video">
		<video data-index-id="" src=""></video>
	</div>


<script src="../js/libs/weui/fastclick.js"></script>

<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script>
<script src="../js/libs/weui/jquery-weui.js"></script>

<script>


				
				
				

var activityVue = new Vue({
  el: '#activityVue',
  data: {
  	source:{
  		headImgUrl:'',
  		
  		setting:{
  			value1:'2017-09-21 00:00',
  			value2:'2017-09-30 00:00',
  			value3:100,
  			value4:66,
  			value5:10,
  			value6:2,
  		},
  		prizeList:[{
  			id:'img_1',
  			index:1,
  			type:1,
  			imgUrl:'../images/demo/11.png'
  		},
  		{
  			id:'img_2',
  			index:1,
  			type:1,
  			imgUrl:'../images/demo/22.jpg'
  		},  		
  		{
  			id:'text_3',
  			index:2,
  			type:2,
  			txt:'奖品规则：1沙发上发发发 \n 2发送方式大法师'
  		},
  		{
  			id:'img_4',
  			index:1,
  			type:1,
  			imgUrl:'../images/demo/33.jpg'
  		},{
  			id:'video_5',
  			index:3,
  			type:3,
  			videoUrl:'../demo/source/1.mp4'
  		}],
  		
  		userPhone:'',
  		userName:'',
  		otherInfo1:'',
  		otherInfo2:'',
  		otherInfo3:'',
  	},
  	curSourceId:'',
  	curSourceIndex:'',
    curSourceType:'',
    handleType:'',
  },
 methods: {
    submit: function (event) {
    	debugger
    	this.info.province = $("#selectArea").val().split(" ")[0];
    	this.info.city = $("#selectArea").val().split(" ")[1];
				var data = this.info;
    },
    refreshRelativeValues: function (value) {
    	
    	//this.$set(this.source.setting.value4,value-1);
    	//this.$set(this.source.setting.value5,((value-1)*0.5).toFixed(0));
    },
    editSourceItem: function (source) {
    	this.curSourceId = source.id;
    	this.curSourceIndex = source.index;
    	this.curSourceType = source.type;
    	 $("#curSourceId").val("#"+source.id);
    },
    popupSourceHandle: function (handleType,handleName,sourceType,sectionType) {
    	this.markHandle(handleName,sourceType,sectionType);
    	debugger
    	this.handleType = handleType;
    	this.$nextTick(function(){
    		$.closePopup();
    		
    		    		
    		
    		if($.inArray(handleType, [1,2,3])!=-1){
    			$("#handleType").val('instead');
    		}
    		if($.inArray(handleType, [4,5,6])!=-1){
    			$("#handleType").val('add');
    		}

    		if($.inArray(handleType, [1,3,4,6])!=-1){
    			$("#uploadImg").popup();
    			
    		}
				if($.inArray(handleType, [2,5])!=-1){
    			$("#addTxt").popup();
    			$("#txtEditTool").load("textEditer.html");
    			
    		}
				if(handleType == 7){
					$("#"+this.curSourceId).remove();
					
					$("#handleType").val('clear');
					
					request.postData({
            url: urlConfig.registerUrl,
            param: ''
	        }).then(function(data) {
	        	
	        	
	
	        }, function(err) {
	            console.log(err);
	        });
				}
				
			})
    	
    },
    markHandle: function (handleType,sourceType,sectionType) {
    	 $("#handleType").val(handleType);
    	 $("#sourceType").val(sourceType);
    	 $("#sectionType").val(sectionType);
    	 
    	 if(handleType=="add"){
    	 		$("#curSourceId").val('');
    	 }
    	 
    },
  }
})	 
	    	
    	
    	var activity = {
    		init:function(){
    			 $("#startTime").datetimePicker();
    			 $("#endTime").datetimePicker();
    			 
    			 $('#bottomPrice').slider(function (percent) {
				     
				  })
    			 $('#perCutMax').slider(function (percent) {
				     
				  })
    			 $('#perCutMin').slider(function (percent) {
				     
				  })
    			 
    		},
    		editSourceItem:function () {
    			$("#sourceHandle").popup();
    		},
    		sourceTypeMap:{
    			
    		},
    		sureSubmitImg:function () {
    			
    			var tem = {
		img:"<div id=\"#id\" src=\"#content\" class=\"source\"><div @click=\"editSourceItem(item)\"class=\"hand-trigger open-popup\"data-target=\"#sourceHandle\">编辑</div><div src=\"#content\" class=\"img\"><img src=\"#content\"alt=\"\"/></div></div>",
		txt:"<div id=\"#id\" class=\"txt\"><p>#content</p></div>",
		video:"<div id=\"#id\" class=\"video\"><video src=\"#content\"></video></div>",
	}
    			
    			
    			var data = {}
    						data.list = [{
				id:'pic1',
				url:'../images/demo/upload_success_1.jpg'
			},
			{
				id:'pic2',
				url:'../images/demo/upload_success_2.jpg'
			}]

			
			var ht = $("#handleType").val();
			var st = $("#sourceType").val();
			var stJqId = $("#sectionType").val();
			var csId = $("#curSourceId").val();
			
			var dom = '';
				data.list.forEach(function(o){
					var d = tem[st];
					debugger
					d=d.replace(/#id/g,o.id)
					d=d.replace(/#content/g,o.url)
					dom += d;
				})
			
			//add
			if(ht == 'add'){
				
				$(stJqId).append(dom);
			}
			
			//insert
			if(ht == 'insert'){				
				$(csId).after(dom);
			}
			//instead
			if(ht == 'instead'){				
				$(csId).replaceWith(dom);
			}
    			
    			/*request.postData({
            url: urlConfig.registerUrl,
            param: ''
	        }).then(function(data) {
	        	
	        	
	
	        }, function(err) {
	            console.log(err);
	        });*/
    			debugger
    		}
    		
    	}
    	activity.init();
    	
    	
    	
    	

      $("#showTooltips").click(function() {
        var tel = $('#tel').val();
        var code = $('#code').val();
        if(!tel || !/1[3|4|5|7|8]\d{9}/.test(tel)) $.toptip('请输入手机号');
        else if(!code || !/\d{6}/.test(code)) $.toptip('请输入六位手机验证码');
        else $.toptip('提交成功', 'success');
      });
    </script>
  </body>
</html>
