<!DOCTYPE html>
<html>
  <head>
    <title>jQuery WeUI</title>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

<link rel="stylesheet" href="../css/framework/weui/weui.css">
<link rel="stylesheet" href="../css/framework/weui/jquery-weui.css">
<link rel="stylesheet" href="../css/layouts/common.css">
<style type="text/css">
	
#tab1,
#tab2,
#tab3,
#tab4,
#tab5{
	padding-bottom: 10px;
	
	background-color: #ffebe4;
}
section{
    width: 44%;
    margin: 4% auto auto 4%;
    float: left;

    background-color: #fafafa;
    box-shadow: 3px 2px 5px #bfbfbf;

    padding: 0px;

}
section .banner{
	
}
section .banner img{
	width: 100%;
	height: 100px;
}
section .progress-info{
    float: left;
    padding: 5px 10px 5px;
    font-size: 14px;
    color: #737272;
}
section .progress-info label{
    float: left;
    width: 50%;	
}
section .progress-info div{
    text-align: right;
    float: right;
    width: 50%;	
}
</style>
  </head>
<script src="../js/libs/vue/vue.js"></script>




  <body ontouchstart >
  	
  	<div id="progressVue">
  		
  	
    <div class="weui-tab">
      <div class="weui-navbar">
        <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
          全部
        </a>
        <a class="weui-navbar__item" href="#tab2">
          未开始
        </a>
        <a class="weui-navbar__item" href="#tab3">
          进行中
        </a>
        <a class="weui-navbar__item" href="#tab4">
          已结束
        </a>
        <a class="weui-navbar__item" href="#tab5">
          已下载
        </a>
      </div>
      <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
        
        	 	<section :data-id="item.shopUserId" :data-a_id="item.shopUserActivityId"   class=""  v-for="item in activityList">
        	 		<div class="banner">
        	 			<img :src="item.themeImgUrl" alt="" />
        	 		</div>
        	 		<div class="progress-info">
        	 			
        	 				<label>开始时间</label>
        	 				<div>{{ item.startTime }}</div>
        	 				
        	 				<label>结束时间</label>
        	 				<div>{{ item.endTime }}</div>
        	 				
        	 				<label>原价</label>
        	 				<div>{{ item.value3}}</div>
        	 				
        	 				<label>报价</label>
        	 				<div>{{ item.value4 }}</div>
        
        	 		</div>
        	 	</section>
            
        	</div>
     
        <div id="tab2" class="weui-tab__bd-item">
 
        	 	<section  :data-id="item.shopUserId" :data-a_id="item.shopUserActivityId" v-for="item in activityList" v-show="item.type == 1" class="">
        	 		<div class="banner">
        	 			<img :src="item.themeImgUrl" alt="" />
        	 		</div>
        	 		<div class="progress-info">
        	 			
        	 				<label>开始时间</label>
        	 				<div>{{ item.startTime }}</div>
        	 				
        	 				<label>结束时间</label>
        	 				<div>{{ item.endTime }}</div>
        	 				

        
        	 		</div>
        	 	</section>
         
        </div>
        <div id="tab3" class="weui-tab__bd-item">
        	
        	 	<section :data-id="item.shopUserId" :data-a_id="item.shopUserActivityId"   v-for="item in activityList" v-show="item.type == 2" class="">
        	 		<div class="banner">
        	 			<img :src="item.themeImgUrl" alt="" />
        	 		</div>
        	 		<div class="progress-info">
        	 			
        	 				<label>开始时间</label>
        	 				<div>{{ item.startTime }}</div>
        	 				
        	 				<label>结束时间</label>
        	 				<div>{{ item.endTime }}</div>
        	 				

        
        	 		</div>
        	 	</section>
            
    
        </div>
        <div id="tab4" class="weui-tab__bd-item">
        
        	 	<section :data-id="item.shopUserId" :data-a_id="item.shopUserActivityId"  v-for="item in activityList"  v-show="item.type == 3" class="">
        	 		<div class="banner">
        	 			<img :src="item.themeImgUrl" alt="" />
        	 		</div>
        	 		<div class="progress-info">
        	 			
        	 				<label>开始时间</label>
        	 				<div>{{ item.startTime }}</div>
        	 				
        	 				<label>结束时间</label>
        	 				<div>{{ item.endTime }}</div>
        	 				

        
        	 		</div>
        	 	</section>
            
               
        </div>
        <div id="tab5" class="weui-tab__bd-item">
        	
        	 	<section :data-id="item.shopUserId" :data-a_id="item.shopUserActivityId" v-for="item in activityList"  v-show="item.type == 4" class="">
        	 		<div class="banner">
        	 			<img :src="item.themeImgUrl" alt="" />
        	 		</div>
        	 		<div class="progress-info">
        	 			
        	 				<label>开始时间</label>
        	 				<div>{{ item.startTime }}</div>
        	 				
        	 				<label>结束时间</label>
        	 				<div>{{ item.endTime }}</div>
        	 				

        
        	 		</div>
        	 	</section>
            
               
        </div>
        
      </div>
    </div>
</div>
    <script src="../js/libs/jquery/jquery-2.1.4.js"></script>
<script src="../js/libs/weui/fastclick.js"></script>
<script src="../js/common.js"></script>
<script src="../js/config.js"></script>
<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script>
<script src="../js/libs/weui/jquery-weui.js"></script>

<script>
var testData = [{
    	type:1,
    	startTime:'2017-03-03',
    	endTime:'2017-06-12',
    	value3:345,
    	value4:234,
    	themeImgUrl:'../images/demo/11.png'
    },{
    	type:1,
    	startTime:'2017-03-03',
    	endTime:'2017-06-12',
    	value3:345,
    	value4:234,
    	themeImgUrl:'../images/demo/22.jpg'
    },{
    	type:2,
    	startTime:'2017-03-03',
    	endTime:'2017-06-12',
    	value3:345,
    	value4:234,
    	themeImgUrl:'../images/demo/33.jpg'
    },{
    	type:3,
    	startTime:'2017-03-03',
    	endTime:'2017-06-12',
    	value3:345,
    	value4:234,
    	themeImgUrl:'../images/demo/44.jpg'
    }]	
	
	
	
var  progressVue = new Vue({
  el: '#progressVue',
  data: {
    activityList:[] 
  },
 methods: {
    submit: function (event) {
    	debugger
    	this.info.province = $("#selectArea").val().split(" ")[0];
    	this.info.city = $("#selectArea").val().split(" ")[1];
				var data = this.info;
    }
  }
})	  	



    	
 var progress = {
		init:function () {
			 this.getList({
			 	shopUserId:'15'
			 });
    	
    },
    getList:function (param) {

			 request.postData({
            url: urlConfig.viewProcessUrl,
            param: param
        }).then(function(data) {
        	progressVue.activityList = data.entities;
						debugger;
						progressVue.$nextTick(function(){
							$("section").click(function(){
								location.href = 'view_activity.html';
							})
						})
						
						
        }, function(err) {
            console.log(err);
        });
			
    },
    getVcd:function (param) {
    	debugger;
			 request.postData({
            url: urlConfig.vcdUrl,
            progressVue: param
        }).then(function(data) {

        }, function(err) {
            console.log(err);
        });
			
    },
}
progress.init();
    	   	

    </script>
  </body>
</html>
