<!DOCTYPE html>
<html>
  <head>
    <title>jQuery WeUI</title>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
<link rel="stylesheet" href="../css/framework/weui/weui.css">
<link rel="stylesheet" href="../css/framework/weui/jquery-weui.css">
<link rel="stylesheet" href="../css/layouts/common.css">

  </head>
<script src="../js/libs/vue/vue.js"></script>
  <body ontouchstart>

<div  id="registerVue">
	

    <header class=''>
      <h1 class="title">用户注册</h1>
    </header>
    
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" placeholder="机构名称" v-model="info.shopName">
        </div>
      </div>
    </div>
    
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" placeholder="请输入所属行业" v-model="info.industry">
        </div>
      </div>
    </div>
    
    
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__hd"><label for="selectArea" class="weui-label">所在城市</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="selectArea" type="text" >
        </div>
      </div>
    </div>
    
    <div class="weui-cells weui-cells_form">

      <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__hd">
          <label class="weui-label">手机号</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="tel" placeholder="请输入手机号"  v-model="info.phoneNumber">
        </div>
        <div class="weui-cell__ft">
          <button class="weui-vcode-btn">获取验证码</button>
        </div>
      </div>

      <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="number" placeholder="请输入验证码"  v-model="info.verification">
        </div>
        <div class="weui-cell__ft">
          <img class="weui-vcode-img" src="./images/vcode.jpg">
        </div>
      </div>
    </div>
    
   <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" placeholder="请设置新密码（6-20位字母和数字组合）"  v-model="info.password">
        </div>
      </div>
    </div>

    <label for="weuiAgree" class="weui-agree">
      <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox">
      <span class="weui-agree__text">
        阅读并同意<a href="javascript:void(0);">《相关条款》</a>
      </span>
    </label>

    <div class="weui-btn-area">
      <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips" @click="submit">提交注册</a>
    </div>
</div>

  </body>
</html>
    <script src="../js/libs/jquery/jquery-2.1.4.js"></script>
<script src="../js/libs/weui/fastclick.js"></script>
<script src="../js/libs/weui/jquery-weui.js"></script>
<script src="../js/libs/weui/city-picker.js"></script>
<script src="../js/common.js"></script>
<script src="../js/config.js"></script>
<script>
  $(function() {
    FastClick.attach(document.body);
  });

 var  registerVue = new Vue({
  el: '#registerVue',
  data: {
    info: {}
  },
 methods: {
    submit: function (event) {
    	debugger
    	this.info.province = $("#selectArea").val().split(" ")[0];
    	this.info.city = $("#selectArea").val().split(" ")[1];
				
			register.sumbit(this.info);
				
    }
  }
})	

var register = {
		init:function () {
			 //初始化城市选择
			$("#selectArea").cityPicker({
        //title: "选择目的地",
        showDistrict: false,
        onChange: function (picker, values, displayValues) {
          console.log(values, displayValues);
        }
      });
       //
    	
    },
    sumbit:function (param) {
    	
    	

			 request.postData({
            url: urlConfig.registerUrl,
            param: param
        }).then(function(data) {

        }, function(err) {
            console.log(err);
        });
			
    },
}
register.init();

    	
    	
    	
    	
      /*$("#showTooltips").click(function() {
        var tel = $('#tel').val();
        var code = $('#code').val();
        if(!tel || !/1[3|4|5|7|8]\d{9}/.test(tel)) $.toptip('请输入手机号');
        else if(!code || !/\d{6}/.test(code)) $.toptip('请输入六位手机验证码');
        else $.toptip('提交成功', 'success');
      });*/
    </script>