<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />
  
  
<style>
body {
  text-align: center;
}
section {
  width: 81%;
  margin: auto;
  text-align: left;
}
</style>
</head>

<body>
  <section id="editor">
    <div id='froalaEditorWrap'>
      <h1>Font Family</h1>

      <img class="fr-fir fr-dii" src="../../img/photo1.jpg" alt="Old Clock" width="300"/>

      <p>When using the font_family.min.js plugin it is possible to add your own fonts to be used inside the WYSIWYG HTML editor.</p>

      <p>First you have to include the font on your webpage. In this example we are adding 4 Google fonts: Roboto, Oswald, Montserrat and Open Sans Condensed. Then you have to define the fonts that should appear in the Font Family dropdown using the <a href='https://www.froala.com/wysiwyg-editor/v2.0/docs/options#fontFamily' title='fontFamily' target='_blank'>fontFamily</a> option. This option is an Object where the key represents the font name (just the way you would pass it to the font-family CSS rule e.g. font-family: <strong>'Roboto', sans-serif</strong>;) and its value is the font name that appears in the dropdown list e.g. <strong>Roboto</strong>.</p>

      <p>By default the font family icon is visible in the editor's toolbar. If you want to be able to see the actual font family for the selected text you can use the <a href='https://www.froala.com/wysiwyg-editor/v2.0/docs/options#fontFamilySelection' title='fontFamilySelection' target='_blank'>fontFamilySelection</a> option.</p>
    </div>
  </section>

  

</body>
</html>
<script type="text/javascript">
	$(function() {
  $('#froalaEditorWrap').froalaEditor({
    /*fontFamily: {
      "Roboto,sans-serif": 'Roboto',
      "Oswald,sans-serif": 'Oswald',
      "Montserrat,sans-serif": 'Montserrat',
      "'Open Sans Condensed',sans-serif": 'Open Sans Condensed',
      "微软雅黑":"微软雅黑",
    },*/
    fontFamilySelection: true
  })
});
</script>
