<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />
  
  
<style>
body {
  text-align: center;
}
section {
  width: 81%;
  margin: auto;
  text-align: left;
}
</style>
</head>

<body>
  <section id="editor">
    <div id='froalaEditorWrap'>
      <h1>热门活动</h1>

     <p>热门活动热门活动</p>
    </div>
  </section>

  

</body>
</html>
<script type="text/javascript">
	$(function() {
  $('#froalaEditorWrap').froalaEditor({
    /*fontFamily: {
      "Roboto,sans-serif": 'Roboto',
      "Oswald,sans-serif": 'Oswald',
      "Montserrat,sans-serif": 'Montserrat',
      "'Open Sans Condensed',sans-serif": 'Open Sans Condensed',
      "微软雅黑":"微软雅黑",
    },*/
    fontFamilySelection: true
  })
});
</script>
