body{
  font-size: 12px;;
}


/* table */


table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}

.table {
	width: 100%;
	margin-bottom: 20px;
}

.table th,.table td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #c3c3c3;
}

.table th {
	font-weight: bold;
}

.table thead th {
	background-color: #dcdcdc;
	vertical-align: bottom;
	font-size: 13px;
	color: #535353;
}

.table caption+thead tr:first-child th,.table caption+thead tr:first-child td,.table colgroup+thead tr:first-child th,.table colgroup+thead tr:first-child td,.table thead:first-child tr:first-child th,.table thead:first-child tr:first-child td {
	border-top: 0;
}

.table tbody+tbody {
	border-top: 2px solid #c3c3c3;
}

.table .table {
	background-color: #ffffff;
}

.table-condensed th,.table-condensed td {
	padding: 4px 5px;
}

.table-bordered {
	border: 1px solid #c3c3c3;
	border-collapse: separate;
	*border-collapse: collapse;
	border-left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.table-bordered th,.table-bordered td {
	background-color: #ffffff;
	border-left: 1px solid #c3c3c3;
}

.table-bordered caption+thead tr:first-child th,.table-bordered caption+tbody tr:first-child th,.table-bordered caption+tbody tr:first-child td,.table-bordered colgroup+thead tr:first-child th,.table-bordered colgroup+tbody tr:first-child th,.table-bordered colgroup+tbody tr:first-child td,.table-bordered thead:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child td
	{
	border-top: 0;
}

.table-bordered thead:first-child tr:first-child>th:first-child,.table-bordered tbody:first-child tr:first-child>td:first-child {
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child>th:last-child,.table-bordered tbody:first-child tr:first-child>td:last-child {
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child>th:first-child,.table-bordered tbody:last-child tr:last-child>td:first-child,.table-bordered tfoot:last-child tr:last-child>td:first-child {
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child>th:last-child,.table-bordered tbody:last-child tr:last-child>td:last-child,.table-bordered tfoot:last-child tr:last-child>td:last-child {
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
}

.table-bordered tfoot+tbody:last-child tr:last-child td:first-child {
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
}

.table-bordered tfoot+tbody:last-child tr:last-child td:last-child {
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
}

.table-bordered caption+thead tr:first-child th:first-child,.table-bordered caption+tbody tr:first-child td:first-child,.table-bordered colgroup+thead tr:first-child th:first-child,.table-bordered colgroup+tbody tr:first-child td:first-child {
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
}

.table-bordered caption+thead tr:first-child th:last-child,.table-bordered caption+tbody tr:first-child td:last-child,.table-bordered colgroup+thead tr:first-child th:last-child,.table-bordered colgroup+tbody tr:first-child td:last-child {
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
}

.table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th {
	background-color: #f5f5f5;
}

.table-hover tbody tr:hover td,.table-hover tbody tr:hover th {
	background-color: #e1e1e1;
}

/* end table */
.price{
  font-size: 14px;
  text-align: center;
  margin: 6%;
}
.price .num{
  color: #ee0a24;
  font-size: 24px;
}

.order{
  background-color: #6ac5ff;
  color: #fff;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  font-size: 18px;
  width: 100%;
  letter-spacing: 1px;
  position: fixed;
  bottom: 0px;
}

.custom-button {
  width: 26px;
  color: #fff;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  background-color: #ee0a24;
  border-radius: 100px;
}


.scroll-data{
	height: 8rem;
}
.scroll-data .title{
	height: 2rem;
    width: 100%;
    float: left;
    line-height: 2rem;
    font-size: 16px;
	font-weight: bold;
	text-indent: 0.5rem;
}

.scroll-data .img-item-list{
	width: 30%;
    height: 7rem;
	float: left;
	margin-right: 3%;
    margin-bottom: 3%;
}
.scroll-data .img-item-list img{
	width: 100%;
}
.scroll-data .img-item-list .select-this{
display: none;
}
.scroll-data .img-item-list.cur .select-this{
display: block;
position: absolute;
display: block;
    position: absolute;
    margin-top: -1.2rem;
    width: 30%;
    height: 1.2rem;
    line-height: 1.2rem;
    background-color: #000;
    color: #fff;
    text-align: center;
    opacity: 0.6;
}


.selected-item .title{
	height: 2rem;
    width: 100%;
    float: left;
    line-height: 2rem;
    font-size: 16px;
	font-weight: bold;
	text-indent: 0.5rem;
	color: #ee0a24;
}
.select-item-img{
	
}
.select-item-img img{
	width: 80%;
}
#bike{
	padding-bottom: 50px;
}